{% extends 'base.html' %}

{% block htmltitle %}{{ block.super }} | {{ tarea.titulo }}{% endblock %}

{% block main %}

Filtrar por Categoria:

<SELECT NAME="Categoria" id="opciones" onchange="location.href='{% url FiltrarCategoria %}?categoria_id=document.getElementById('opciones').options[document.getElementById('opciones').selectedIndex].value'">
    {% for categoria in categorias %}
        <OPTION value="categoria.id" >{{ categoria.nombre }}</OPTION>
    {% endfor %}

</SELECT>



    <table>

       <tr>
        <td>Titulo</td>
        <td>Categoria</td>
        <td>Estado</td>
        <td>Fecha Creacion</td>
        <td>Fecha Límite</td>
        <td>Fecha Realizacion</td>
        <td>Detalle</td>
        <td>Modificar</td>
        <td>Eliminar</td>
    </tr>
    {% for tarea in tareas %}
    <tr>
        <td>{{ tarea.titulo }}</td>
        <td>{{ tarea.categoria }}</td>
        <td>{% if tarea.estado == 'P' %}
                    Pendiente
                {% endif %}
                {% if tarea.estado == 'C' %}
                    Completada
                {% endif %}
                {% if tarea.estado == 'X' %}
                    Cancelada
                {% endif %}</td>
        <td>{{ tarea.fecha_creacion }}</td>
        <td>{{ tarea.fecha_limite }}</td>
        <td>{{ tarea.fecha_realizacion }}</td>
        <td><a href="{% url DetalleTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/search.png" /></a></td>
        <td><a href="{% url EditarTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/edit.png" /></a></td>
        <td><a href="{% url BorrarTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/delete.png" /></a></td>
    </tr>
    {% endfor %}
    </table>
    <input type="button" value="Volver" onClick="location.href='{% url index %}'"/>
{% endblock %}



