{% extends 'base.html' %}

{% block htmltitle %}{{ block.super }} | {{ tarea.titulo }}{% endblock %}

{% block main %}

<script language="javascript">

function linkTo(optVal){
    if(optVal=="") return false;
    window.location='{% url FiltrarCategoria %}?categoria_id='+optVal;
}
</script>


Filtrar por Categoria:


<SELECT NAME="Categoria" id="opciones" onchange="linkTo(this.options[this.selectedIndex].value);">
    <OPTION value="-2" >Elija Categoria</OPTION>
    <OPTION value="-1" >Todas</OPTION>
    {% for categoria in categorias %}
        <OPTION value={{categoria.id}} >{{ categoria.nombre }}</OPTION>
    {% endfor %}

</SELECT>



    <table border="1" cellspacing="3" allign="center">

       <tr>
        <td>Titulo</td>
        <td>Categoria</td>
        <td>Estado</td>
        <td>Fecha Creacion</td>
        <td>Fecha Límite</td>
        <td>Fecha Realizacion</td>
        <td>Detalle</td>
        <td>Modificar</td>
        <td>Eliminar</td>
    </tr>
    {% for tarea in tareas %}
    <tr align="center">
        <td>{{ tarea.titulo }}</td>
        <td>{{ tarea.categoria }}</td>
        <td>{% if tarea.estado == 'P' %}
                    Pendiente
                {% endif %}
                {% if tarea.estado == 'C' %}
                    Completada
                {% endif %}
                {% if tarea.estado == 'X' %}
                    Cancelada
                {% endif %}</td>
        <td>{{ tarea.fecha_creacion }}</td>
        <td>{{ tarea.fecha_limite }}</td>
        <td>{{ tarea.fecha_realizacion }}</td>
        <td><a href="{% url DetalleTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/search.png" /></a></td>
        <td><a href="{% url EditarTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/edit.png" /></a></td>
        <td><a href="{% url BorrarTarea tarea.id %}">
            <img src="{{ STATIC_URL }}images/delete.png" /></a></td>
    </tr>
    {% endfor %}
    </table>
    <input type="button" value="Volver" onClick="location.href='{% url index %}'"/>
{% endblock %}



