{% extends 'base.html' %}

{% block htmltitle %}{{ block.super }} | {{ tarea.titulo }}{% endblock %}

{% block main %}
    <h3>{{ tarea.titulo }}</h3>
    <p>Descripcion: {{ tarea.descripcion }}</p>
    <p>Estado: {{ tarea.estado }}</p>
    <p>Fecha Creacion: {{ tarea.fecha_creacion }}</p>
    <p>Fecha Limite: {{ tarea.fecha_limite }}</p>
    <p>Fecha Realizacion: {{ tarea.fecha_realizacion }}</p>
    <p>Categoria: {{ tarea.categoria }}</p>

    <a href="{% url ListaTareas %}">Volver</a>
{% endblock %}
